In [5]:
import mysql.connector as sql

In [26]:
class CMS():

    def __init__(self):
        self.username = str(input("Username = "))
        self.__password = str(input("Password = "))
        
        if self.username == 'Admin' and self.__password == 'QWERTY':
            print("You are logged in")
            
        else:
            print("Incorrect Username or Password")

In [27]:
cms = CMS()

Username = Admin
Password = QWERTY
You are logged in

In [28]:
connection = sql.connect(host='localhost', user='root', password='The28Table')
 
cursor=connection.cursor()

In [31]:
cursor.execute("CREATE DATABASE college_system")

In [32]:
connection = sql.connect(host='localhost', user='root', password='The28Table', database='college_system')

In [35]:
cursor=connection.cursor()

# CREATING TABLES

In [59]:
cursor.execute("CREATE TABLE STUDENT(NAME VARCHAR(50), AGE INT, BRANCH VARCHAR(50), SUBJECTS VARCHAR(80), JOINING DATE, COURSE_DURATION INT, FEE INT)")

cursor.execute("CREATE TABLE PARENTS(NAME VARCHAR(50), OCCUPATION VARCHAR(20), ANNUAL_SALARY INT, PARENT_OF VARCHAR(50), EMAIL VARCHAR(60)")

cursor.execute("CREATE TABLE FACULTY(NAME VARCHAR(50), SUBJECT VARCHAR(20), QUALIFICATION VARCHAR(50))")

cursor.execute("CREATE TABLE MARKS(NAME VARCHAR(50), SUBJECTS VARCHAR(80), MARKS INT)")

# INSERTING VALUES

In [60]:
query="INSERT INTO STUDENT(NAME, AGE, BRANCH, SUBJECTS, JOINING, COURSE_DURATION, FEE) VALUES(%s,%s,%s,%s,%s,%s,%s)"

values=[('Avneet Singh', 29, 'Mechanical Engineering', 'Thermodynamics, Fluid Mechanics, SOM, DOM, C lang', '2021/3/30', 4, 50000),
        ('Rashmi Rana', 25, 'Architecture', 'Drafting, Interior Design, CAD, Maths, Materials', '2020/4/4', 5, 30000)]

cursor.executemany(query,values)

connection.commit()

In [41]:
query='INSERT INTO FACULTY(NAME, SUBJECT, QUALIFICATION) VALUES(%s,%s,%s)'

values=[('Ravi Shukla', 'CAD', 'M.Tech - Computers'), ('Geeta Smith', 'Fluid Mechanics', 'PH.D in Fluid Dynamics'), 
        ('Chhavi Arora', 'Drafting', 'M. Arch'), ('Even Sekri', 'DOM', 'B.Tech in Mechanical'), 
       ('Deepak Sharma', 'Thermodynamics', 'Ph.D in Mechanical'), ('Diksha Rawat', 'Maths', 'M.Sc in Mathematics')]

cursor.executemany(query,values)

connection.commit()

In [58]:
query="INSERT INTO PARENTS(NAME, OCCUPATION, ANNUAL_SALARY, PARENT_OF, EMAIL) VALUES(%s,%s,%s,%s,%s)"

values=[('Tirlochan Singh', 'Business Man', 1000000, 'Avneet Singh', 'tsingh@gmail.com'),
       ('Raman Rana', 'Salaried Employee', 900000, 'Rashmi Rana', 'rana.raman@gmail.com')]

cursor.executemany(query,values)

connection.commit()

In [191]:
query="INSERT INTO MARKS(NAME, SUBJECTS, MARKS) VALUES(%s,%s,%s)"

values=[('Avneet Singh', 'Thermodynamics, Fluid Mechanics, SOM, DOM, C lang', 72),
       ('Rashmi Rana', 'Drafting, Interior Design, CAD, Maths, Materials', 73.4)]

cursor.executemany(query,values)

connection.commit()

In [179]:
connection = sql.connect(host='localhost', user='root', password='The28Table', database='college_system')

cursor1=connection.cursor()

cursor1.execute("SELECT * FROM STUDENT")
stu_info = cursor1.fetchall()

cursor2=connection.cursor()

cursor2.execute("SELECT * FROM PARENTS")
par_info = cursor2.fetchall()

for col in stu_info:
    if col[6]<50000:
        print(col[0],"Fee is pending")
        print("Communicate to the parents about Pending Fee")
        for col1 in par_info:
            if col1[3]==col[0]:
                print("Communication for Pending Fee has been sent to {} at {}".format(col1[0],col1[4]))
    
        
    else:
        pass

Rashmi Rana Fee is pending
Communicate to the parents about Pending Fee
Communication for Pending Fee has been sent to Raman Rana at rana.raman@gmail.com

In [199]:
connection = sql.connect(host='localhost', user='root', password='The28Table', database='college_system')

cursor=connection.cursor()

cursor.execute("SELECT * FROM MARKS")
marks = cursor.fetchall()

name1 = str(input("Enter student name to fetch percentage "))
for m in marks:
    if name1==m[0]:
        print("{} scored {} percentage. This is average score of the following subjects: {}".format(m[0],m[2],m[1]))
    else:
        print("Name does not exist in the record")

Enter student name to fetch percentage Avneet Singh
Avneet Singh scored 72 percentage. This is average score of the following subjects: Thermodynamics, Fluid Mechanics, SOM, DOM, C lang
Name does not exist in the record
Avneet Singh scored 72 percentage. This is average score of the following subjects: Thermodynamics, Fluid Mechanics, SOM, DOM, C lang
Name does not exist in the record